@import "helpers/variables";
@import "helpers/mixins";
@import "base/normalize";
@import "base/base-all";
@import "grid";
@import "containers";
@import "buttons";

//title 和 content用做子元件用，不可以寫在外面
//list當作清單的外框
//item用作單一物件，建議寫在裡面
//one用做grid
//head是如果有些區域的表頭可以用
//每一頁的最外框最好都加一個可以識別的名字，先不寫樣式
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

//導覽
.nav-bar-container{
  max-width: 1140px;
  margin: 0 auto;
  padding-left: $spacer-wrapper;
  padding-right:  $spacer-wrapper;
  display: flex;
  justify-content: space-between;
}
.nav-bar{
  background-color:$primary;
  padding: $spacer-s 0;
 
  a{
    color:#fff;
  }

}
.nav-bar__list{
  display: flex;
}

.top {
  margin-bottom: $spacer-bottom;
  background-image: url(../images/header-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;

  @include md {
    background-image: url(../images/header-1-m.jpg);
    height: 26vh;
    background-size: cover;
  }
}

//文字顏色

.text-primary {
  color: $primary;
}

.text-danger {
  color: $danger;
  font-weight: bolder;
  font-size: $h5-font-size;
}

.text-light {
  color: $light;

}

.text-warning {
  color: $warning;
}

//文字大小
.text-sm {
  font-size: $font-size-base;
}

//大容器用container
.container-xl {
  max-width: $max-width-xl;
  margin: 0 auto;
  padding: 0 $spacer-wrapper;

  @include xl {
    // padding: 0 $spacer-wrapper;
  }
}

.container-lg {
  @extend .container-xl;
  max-width: $max-width-lg;
  margin-bottom: 4rem;
}

//section用 block
.block-s {
  // margin-bottom: $spacer-bottom;
  justify-content: center;
}

.block-l {}

//客製化grid
.one-md-s {
  @extend %one;

  @include md-min {
    flex: 0 0 30%;
    max-width: 400px;
    // flex:1 1 0;
    // max-width: 100%;
  }
}

.one-xl-l {
  @extend %one;

  @include xl-min {
    flex: 0 0 70%;
    max-width: 70%;
    // flex:1 1 0;
    // max-width: 100%;
  }
}

.one-lg-l {
  @extend %one;

  @include lg-min {
    flex: 0 0 65%;
    max-width: 65%;
  }
}

// @include md {
//   .one-md,.one-md-4,.one-md-8{
//     flex: 0 0 100%;
//   max-width: 100%;    
//   }
// }
//swiper
.swiper-container {
  width: 100%;
  max-width: 880px;
  margin-bottom: $spacer-bottom;
}

.swiper-button-prev,
.swiper-button-next {
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.swiper-button-prev {
  background-image: url(../images/swiper_prev.png);
}

.swiper-button-next {
  background-image: url(../images/swiper_next.png);
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: $secondary;
}

.head-bg {
  background-color: $primary;
  font-size: $h2-font-size;
  color: #fff;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  min-height: 52px;

  .left {
    display: flex;
    align-items: center;
  }

  @include md {
    font-size: $h3-font-size;
    min-height: 42px;
  }

  .icon {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-right: 0.5rem;

    @include md {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }

  .icon-no-bg {
    // width: 36px;

    img {
      width: 30px;

      @include lg {
        min-width: 30px;
      }

    }

    margin-right: $spacer-s;
  }


}

.s-word {
  font-size: $font-size-s;
  font-weight: normal;
}

.side-menu {
  padding: $spacer;

  @include xl {
    display: flex;
  }

  @include md {
    display: block;
  }

  .qr {
    // text-align: center;
    display: block;
    margin-left: 1.2rem;
    padding-top: 0.5rem;

    @include xl {
      display: none;
    }

    img {
      max-width: 100px;
    }
  }

  li {
    padding-bottom: 0.8rem;

    &+li {
      @include xl {
        margin-left: 1rem;
      }

      @include md {
        margin-left: 0;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }

    i {
      color: $secondary;
      padding-right: 0.5rem;
    }

    a {}
  }
}

//tab切換
.tab-item {
  display: none;

  &.show {
    display: block;
  }
}

//tab樣式
.tab {
  font-size: $tab-font-size;
  font-weight: bolder;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none
  }

  ul {
    display: flex;

    li {
      font-size: $h5-font-size;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      @include border;
      // @include linear-gradient;
      background: $primary;

      @include lg {
        flex: none;
        border-radius: 0;
        font-size: $h6-font-size;
      }

      &.sel {
        background: $secondary;
      }

      a {
        padding: $spacer $spacer*2;
        color: #fff;
        display: block;

        @include lg {
          padding: $spacer-s
        }
      }

      &+li {
        margin-left: 0.2rem;
      }
    }
  }
}

.tab-item-box {
  h2 {
    @include text-no;

    @include md {
      max-width: 180px;
    }
  }
}

//box 單純只有框的樣式
.box-s {
  background-color: $gray-100;
  @include border;
  margin-bottom: $spacer-bottom;

  // margin-right: 0.5rem;
  @include xl {
    max-width: 880px !important;
    margin-bottom: $spacer;

  }
}

.box-s-tour {
  background-color: $gray-100;
  margin-bottom: $spacer-bottom;
  @include border;

  @include lg {}
}

.box-m {
  // padding: $spacer-box-s;
  @include border;
  margin-bottom: $spacer-bottom;
}

.box-l {
  background-color: #E8F0FF;
  padding: $spacer-box-s;
  margin-bottom: $spacer-bottom;
}

//item 個別項目用item ，可以客製化
.item-wrapper {
  // margin-left: -0.5rem;
  // margin-right: -0.5rem;
}

.item-l {
  display: flex;
  align-items: flex-end;
  margin-bottom: $spacer-bottom;

  @include md {}

  .one-md {
    // padding-left: $spacer;
  }
}

.item {
  h3 {
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item-img {
    margin-bottom: $spacer-s;
  }
}

.item-img {
  img {
    height: 19vw;
    max-height: 240px;

    @include sm {
      height: auto;
    }
  }
}

.item-img-s {
  align-items: flex-end;

  img {
    max-height: 160px;
  }
}

.item-img-main {
  img {
    min-height: 260px;
  }

  @include md {
    padding-bottom: $spacer-s;
  }
}

.item-price {
  margin-bottom: $spacer-s;
}



.item-date {
  margin-bottom: $spacer-s;

  span {
    color: $secondary;
    font-weight: bolder;
  }
}

.item-img-s {
  justify-content: flex-start;

  *+* {
    // margin-left: $spacer-s;
  }
}

.item {
  text-align: center;
  // margin-left: 0.5rem;
  // margin-right: 0.5rem;
  margin-bottom: $spacer-bottom;
  @include border;
  padding: $spacer-box-s;
  background-color: #fff;

  @include md {
    // max-width: 430px;
  }
}

.list-block-wrapper {
  padding: $spacer;

  .list-block {
    margin-bottom: $spacer;
    padding-bottom: $spacer-s;
    @include border-bottom;
    &:last-child{
      margin-bottom: 0;
      border-bottom: 0;
    }

    .title {
      // font-size: $h5-font-size;
      font-weight: bolder;
    }

    .list-block__btn-group {
      padding-top: $spacer-s;

      .btn-link {
        margin-bottom: $spacer-s;

      }
    }

  }
}



.tour-info {
  display: flex;
  justify-content: space-between;
  padding: $spacer;
  // font-size: $h5-font-size;
  align-items: center;
  padding: $spacer;
  
  &.for-single {
    justify-content: flex-start;
    align-items: flex-start;

    .side-block {
      width: 50%;
      @include lg{
        width: 100%;
      }
    }
  }

  @include lg {
    display: block;

  }

  

  .tour-info__share {
    padding: $spacer-s 0;
  }
}

.tour-info__list {

  // display: flex;
  .list-item {
    display: flex;
    margin-bottom: $spacer-s;

    // justify-content: space-between;
    .title {
      min-width: 90px;
      // text-align: right;
    }

    .content {}
  }


}

.travel-info {
  margin-bottom:$spacer-bottom;
}

.travel-info__list {
  text-align: center;
  @include border;
  border-bottom: 0;

  @include lg {
    border: 0;
    padding-top: $spacer-s;
  }

  .head {
    padding: $spacer-s 0;
    background-color: $light-bg;
    @include border-bottom;

    @include lg {
      display: none;
    }
  }

  .list-row {
    padding: $spacer-s 0;
    @include border-bottom;
    align-items: center;

    @include lg {
      padding: $spacer-s;
      @include border;
      margin-bottom: $spacer-s;

    }

    .column {
      @include lg {
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacer-s;
        //  @include border-bottom;
      }
    }

    .title {
      display: none;

      @include lg {
        display: block;
      }

    }

    .content {
      @include lg {
        color: $primary;
      }
    }
  }
}

.space-bw {
  justify-content: space-between;

  .left {}

  .right {}
}
.price-info{
  .price-info__item{
    display: flex;        
    + .price-info__item{
      margin-top: $spacer-s;
    }
    .title{
      display: block;
      min-width: 80px;
    }
    .content{

    }

  }
}

.itinerary{
  line-height: 1.5;

}
.itinerary__block{
  p{
    margin: $spacer 0;
    
  }
  .content{
    padding: $spacer;
    @include lg{
      padding:$spacer 0;
    }
    .top-info{

    }
    .top-info__img{

    }
    .top-info__content{
      padding: $spacer;
      @include lg{
        padding:$spacer 0 0;
      }
      h3{
        font-size:  $h1-font-size;
      }

    }
    .detail{

    }
    .bottom-info{
      
      .bottom-info__item{
        background-color: $gray-100;
      padding: $spacer;
      margin-bottom: $spacer-s;
      display: flex;
      align-items: center;
      @include lg{
        flex-wrap: wrap;
      }
        .bottom-info__item__head{
          flex-basis: 133px;
          flex-shrink: 0;
          @include lg{
            max-width: 100px;
          }
        }
        .bottom-info__item__content{
          @include lg{
            width: 100%;
          }

        }
      }

    }

  }
  .features{
    padding: $spacer 80px $spacer;
    @include lg{
      padding: $spacer 0;
    }

  }
  .other{
    // margin-bottom: $spacer;
    i{
      color: $primary;
      padding-right: 0.5rem;
    }
    .other__block{
      margin-bottom: $spacer;
    }
    .btn-link{
      display: block;
      & + .btn-link{
        margin-top: $spacer-s;
      }
      
    }
  }
}
// .price-info{
//   padding:0 $spacer $spacer;
//   // display: flex;
//   .price-info__block{
//     display: flex;
//     justify-content: center;
//   }
//   .price-head{

//   }
//   .price-item{

//   }
//   .price-info{

//   }
// }