*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

html{
  font-size: $font-size-base;
}

body {
  font-family: Arial, Helvetica, 微軟正黑體, sans-serif;
  
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;  
}

a {
  color: #333;
  text-decoration: none;

  &:hover,
  &:focus &:active {
    color: #333;
    // opacity: 1;
  }
}
.for-mobile{
  display: none;
  @include md{
    display: block;
  }

}

.for-desk{

  @include md{
    display: none;
  }
  
}

ul,
ol {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

ol {
  padding-left: 20px;
}

h1,h2,h3,h4,h5,h6{
  margin-top: 0;
  margin-bottom:$spacer;
  font-weight: normal;
}

h1{
  font-size: $h1-font-size;
}

h2{
  font-size: $h2-font-size;
}

h3{
  font-size: $h3-font-size;
}

h4{
  font-size: $h4-font-size;
}

h5{
  font-size: $h5-font-size;
}

h6{
  font-size: $h6-font-size;
}

p{
  margin-bottom: 0;
  font-size: $p-font-size;
}

@media(max-width:990px) {
}

@media(max-width:768px)and(min-width:375px){

}