//網頁中各種狀態的顏色定義好
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #0099ff !default;
$secondary: #ff6600 !default;
$active-status:$primary !default;
$success: #666 !default;
$info: #666 !default;
$warning: #FF0000 !default;
$danger: #FF0000 !default;
$light: #aaa !default;
$dark: #666 !default;
$light-bg:#F0FCFF;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

//各種文字的size以及相對關係定義好，以後就在這邊改文字
$font-size-base:1rem !default; // Assumes the browser default, typically `16px`
$font-size-s:0.875rem !default;
$h1-font-size:$font-size-base * 2 !default;
$h2-font-size:$font-size-base * 1.5 !default;
$h3-font-size:$font-size-base * 1.25 !default;
$h4-font-size:$font-size-base * 1.2 !default;
$h5-font-size:$font-size-base * 1.125 !default;
$h6-font-size:$font-size-base !default;
$font-weight-normal:400 !default;
$p-font-size:$font-size-base;

$tab-font-size:$h5-font-size;

//各種間距的大小定義好，包含rwd，這樣以後rwd可以少寫一點
$spacer: 1rem !default;
$spacer-s:$spacer*0.625;
$spacer-bottom:2rem !default;
$spacer-wrapper:$spacer * 0.9375 !default;
$spacer-box:2rem 2rem;
$spacer-box-s:1rem 1rem;
$spacer-box-m:1rem 1rem;

$gutter:0.5rem;

$grid-breakpoints: ( // xs: 0,
  sm: 576px,
  md: 768px,
  lg: 970px,
  xl: 1200px) !default;

//容器的寬
$max-width-xl:1200px;
$max-width-lg:970px;

//body
$body-bg: $white !default;
$body-color: $gray-900 !default;

//border

$border-width: 1px !default;

//表單

$input-btn-border-width: $border-width !default;


// Links
//
// Style anchor elements.

$link-color:$gray-800 !default;
$link-decoration: none !default;
$link-hover-color:$active-status;
$link-hover-decoration: underline !default;
$btn-link-disabled-color: $gray-600 !default;

//按鈕
$btn-font-size:$h3-font-size;
$btn-font-size-sm:$font-size-base;
$btn-font-weight: bolder !default;
$btn-border-width:$input-btn-border-width;
$btn-disabled-opacity: .65 !default;
$enable-pointer-cursor-for-buttons: true !default;